body{
    /* margin: 0; */
    background-color: #56604F;
}

h1{
    text-align: center;
    font-size: 36px;

}

hr {
    border: 10px solid #899878;
    border-radius: 5px;
}
#navBar{
    display: flex;
    background-color: #899878;
    /* overflow: hidden; */
    justify-content:space-evenly;
    position: fixed;
    top: 0;
    width: 100%;
}


#navBar a{
    text-align: center;
    text-decoration: none;
    font-size: larger;
    float: left;
    padding: 25px 20px;
    color:#E4E6C3;
}

#navBar a:hover {
    background-color: #E4E6C3;
    color: black;
    text-decoration: underline;
}

#home {
    margin:5%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#homeTxt  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;
}

#homeImage img {
    padding-left: 8%;
    max-height: 450px;
    float: inline-end;
}

#aboutMe{
    margin:5%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}

#aboutMeImage img {
    padding-right: 8%;
    max-height: 450px;
    float: inline-start;

}

#aboutMeTxt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 500px;

}